* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 24px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0 0 16px;
}

button {
  padding: 10px 16px;
  cursor: pointer;
}

.practice-layout {
  flex: 1;
  width: 100%;

  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 32px;
}

.chatbox {
  width: 360px;

  border: 2px solid #555;
  border-radius: 12px;
  padding: 16px;

  background: #1a1a1a;
}

.hidden {
  display: none !important;
}

.arena-box {
  border: 2px solid #555;
  border-radius: 12px;
  background: #1a1a1a;

  position: relative;
}

#startBtn {
  margin-bottom: 24px;
}

#arena {
  position: relative;
  width: 100%;
  height: 100%;
}

.platform {
  position: absolute;
  border-bottom: 4px solid white;
}

.top {
  width: 185px;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}

.floor {
  width: 500px;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.bottom-middle {
  width: 185px;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);
}

.bottom-left {
  width: 185px;
  left: 9%;
  bottom: 25%;
}

.bottom-right {
  width: 185px;
  right: 9%;
  bottom: 25%;
}

.middle-left {
  width: 150px;
  left: 26%;
  bottom: 45%;
}

.middle-right {
  width: 150px;
  right: 26%;
  bottom: 45%;
}

.portal {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid #888;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;
}

/* top */
.p1 { left: 43%; top: 27%; }
.p2 { right: 43%; top: 27%; }

/* middle */
.p3 { left: 31.5%; bottom: 47%; }
.p4 { right: 31.5%; bottom: 47%; }

/* lower sides */
.p5 { left: 16%; bottom: 27%; }
.p6 { right: 16%; bottom: 27%; }

  /* lower middle */
.p7 { left: 31.5%; bottom: 12%; }
.p8 { right: 31.5%; bottom: 12%; }
